<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elevate Technology Company</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="shortcut icon" href="../images/icon3.png" type="image/x-icon">
</head>
<body>

    <header>

        <img class="img header-logo"  src="../images/ideograma-png.png" alt="ideograma-png">

        <div id="user-container">

            <h1 id="username">Loading User</h1>

            <img id="userIcon" class="default-user" src="../images/default-user.png" alt="profile image">

        </div>

    </header>

    <script type="module" src="../script/index.js"></script>
</body>
</html>