<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Elevate Tech Co.</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="shortcut icon" href="../images/icon3.png" type="image/x-icon">
</head>
<body>
    <header>
        <img class="img header-logo"  src="../images/ideograma-png.png" alt="ideograma-png">
    </header>
    <div class="login-area">

        <div class="login-title">
            <img class="img login-logo" src="../images/icon3.png" alt="logo">
            <h1 class="lbl login">Login</h1>
        </div>

        <h3 class="lbl user">User</h3>
        <input class="input txt-user" type="text" id="user" placeholder="username" maxlength="28">

        <h3 class="lbl pass">Password</h3>
        <input class="input txt-pass" type="password" id="pass" placeholder="password" maxlength="18">

        <h3 class="lbl error login" id="lbl-error"></h3>

        <button class="btn-login" id="btn-login">ENTER</button>

        <a class="lbl link" href="sigin.html" rel="noopener noreferrer">Create account</a>
    </div>
    <script type="module" src="../script/login.js"></script>
</body>
</html>