<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store - Elevate Tech</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/store.css">
    <link rel="shortcut icon" href="../images/icon3.png" type="image/x-icon">
</head>
<body>
    <!--CABEÇALHO-->
    <header>

        <img class="img header-logo"  src="../images/ideograma-png.png" alt="ideograma-png">

        <div class="navbar">
            <ul class="navbar-text" data-target="home">HOME</ul>
            <ul class="navbar-text" data-target="about">ABOUT US</ul>
            <ul class="navbar-text active" data-target="store">STORE</ul>
        </div>

        <!--USER-CONTAINER-->
        <div id="user-container">
            <h1 id="username">Loading User</h1>

            <img id="userIcon" class="default-user" src="../images/default-user.png" alt="profile image">
        </div>

    </header>

    <main class="home-container">
        </main>

    <!--RODAPÉ-->
    <footer>

        <div class="footer-container">

            <div class="footer-column logo">
                <img src="../images/logo-invert-png.png" class="logo-footer">
            </div>

            <div class="footer-column">
                <h3>Institucional</h3>
                <a href="#">Sobre nós</a>
                <a href="#">Política de privacidade</a>
                <a href="#">Trocas e devoluções</a>
                <a href="#">Termos de uso</a>
            </div>

            <div class="footer-column">
                <h3>Categorias</h3>
                <a href="#">Sites Empresarial</a>
                <a href="#">Landing Page</a>
                <a href="#">Sites Postifólio</a>
                <a href="#">Sites de Loja</a>
            </div>

            <div class="footer-column">
                <h3>Contato</h3>
                <p>(31)99999-9999</p>
                <p>elevatetechcompanycontato@gmail.com</p>

                <div class="footer-column">
                    <div class="redes-sociais">
                        <a href="#">
                            <img src="../images/instagram-logo.svg" alt="instagram-logo">
                        </a>
                        <a href="#">
                            <img src="../images/github-logo.svg" alt="facebook-logo">
                        </a>
                        <a href="#">
                            <img src="../images/whatsapp-logo.svg" alt="whatsapp-logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    <script type="module" src="../script/store.js"></script>
</body>
</html>