<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elevate Technology Company</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/user.css">
    <link rel="shortcut icon" href="../images/icon3.png" type="image/x-icon">
</head>
<body>

    <header>
        <img class="img header-logo"  src="../images/ideograma-png.png" alt="ideograma-png">
    </header>

    <div class="container">

        <img id="arrow" src="../images/arrow-left.png" alt="">

        <div class="login-area">


            <div class="profile-image">
                <img id="profilePreview" src="../images/default-user.png" alt="">
            </div>
            
            <input class="input image-link" type="text" placeholder="Image Link" id="photoUrl">
            
            <input class="input txt-user" type="text" id="txt-user" placeholder="username" maxlength="18">

            <input class="input txt-email" type="email" id="email" placeholder="exemple@gmail.com" maxlength="28" disabled>
            
            <h3 class="lbl error" id="lbl-error"></h3>
            
            <button class="btn-login" id="btn-sigin">SAVE</button>

            <a class="lbl logout" id="logout" href="">Log out</a>

        </div>

    </div>
    </script><script type="module" src="../script/sigin.js"></script>

    <script src="../script/user.js" type="module"></script>
</body>
</html>