body {
    background: linear-gradient(340deg, rgb(228, 216, 195), rgba(235, 231, 224));
    min-height: 100vh;
    
    overflow: auto;
    margin: 0px;

    user-select: none;
}

body::-webkit-scrollbar {
    display: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 221, 206);
    width: 100%;
    height: 142px;
    z-index: 50;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
img.header-logo{
    /*#264f55*/
    filter: brightness(0) saturate(100%) invert(30%) sepia(26%) saturate(800%) hue-rotate(140deg) brightness(80%) contrast(90%);
    width: 200px;
    height: 80px;
}

.container {
    width: 100%;
    height: 100%;

    padding-top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*DIV ENTRADA DE DADOS*/
.login-area{
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to top, #1f2a30, #354f52);
    background-color: rgb(48, 48, 48);
    width: 20%;
    min-width: 370px;
    max-height: 550px;
    gap: 15px;
    box-shadow: 1px 1px 53px -13px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 1px 1px 53px -13px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 1px 53px -13px rgba(0, 0, 0, 1);
}
@media (max-aspect-ratio: 1/1) {
  .login-area {
    position: fixed;
    top: 140px;
    width: 100%;
    height: calc(100% - 140px);
    border-radius: 0;
    max-height: 100%;
    margin-bottom: 100px;
  }
  body{
    margin: 0 0 0 0;
  }
}

.register-page.login-area{
    max-width: auto;
}

/*DIV TITULO*/
.login-title{
    display: inline-flex;
    align-items: center;
    padding-right: 12.5%;
    width: 100%;
}
.img.login-logo{ /*IMAGEM TITULO*/
    position: relative;
    left: 12%;
    width: 50px;
    height: 50px;
    filter: brightness(0) saturate(40%) invert(91%) sepia(6%) saturate(500%) hue-rotate(350deg) brightness(110%) contrast(100%);

}
.lbl.login{ /*TEXTO TITULO*/
    margin-left: auto;
    margin-right: auto;
}

/*TEXTBOX E AFINS*/
h3{
    width: 60%;
    height: 0;
    font-size: 15px;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #ebe7e0 inset !important; /* mesmo fundo do input */
    -webkit-text-fill-color: #1f2a30b7 !important; /* mesma cor do texto */
    caret-color: #1f2a30b7;
    transition: background-color 9999s ease-in-out 0s;
}

.input{
    width: 60%;
    height: 35px;
    min-height: 36px;
    padding-left: 15px;
    background-color: #ebe7e0;
    border-radius: 10px;
    border-style: none;
    color: #1f2a30b7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    transition: 0.3s;
}
.input:focus{
    outline: none;
    width: calc(60% + 10px);
    height: 45px;
    box-shadow: 1px 1px 53px -5px rgba(250, 240, 196, 0.6);
    -webkit-box-shadow: 1px 1px 53px -5px rgba(250, 240, 196, 0.6);
    -moz-box-shadow: 1px 1px 53px -5px rgba(250, 240, 196, 0.6);
}
.input::placeholder{
    color: #354f52cc;
}

.lbl{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ebe7e0;
}
.lbl.link{
    width: calc(60% + 15px);
    margin: 10px 0 35px 0;
}
.lbl.error{
    position: absolute;
    margin-top: 280px;
    text-align: center;
    color: rgb(247, 189, 166);
}
.lbl.error.login{
    position: absolute;
    margin-top: 135px;
    text-align: center;
    color: rgb(247, 189, 166);
}

.btn-login{ /*BOTÃO*/
    margin: 35px 0 0 0;
    width: calc(60% + 21px);
    height: 40px;
    min-height: 40px;
    background-color: #ebe7e0;
    color: rgba(58, 58, 58, 0.589);
    border-radius: 10px;
    border-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    transition: 0.3s;
}
.btn-login:hover{ /*BOTÃO MOUSE*/
    cursor: pointer;
    width: calc(62% + 21px);
    height: 47px;
    box-shadow: 1px 1px 53px -5px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 1px 1px 53px -5px rgba(250, 240, 196, 0.6);
    -moz-box-shadow: 1px 1px 53px -5px rgba(250, 240, 196, 0.6);
}

.remember {
    display: flex;
    align-items: center;
    gap: 5px;

    width: calc(60% + 25px);
}

.remember-box {
    appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid #666;
    border-radius: 8px;
    display: grid;
    place-content: center;
    cursor: pointer;
}

.remember-box::before {
    content: "";
    width: 10px;
    height: 10px;
    transform: scale(0);
    transition: 0.15s transform ease-in-out;

    clip-path: polygon(
        14% 44%,
        0 65%,
        50% 100%,
        100% 16%,
        80% 0,
        43% 62%
    );

    background: #354f52;
}

.remember-box:checked {
    background: #ebe7e0;
    border-color: #ebe7e0;
}

.remember-box:checked::before {
    transform: scale(1);
}
.remember-text {
    cursor: pointer;
    color: #ebe7e0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}